{% extends 'base.html' %}

{% block title %}Dashboard | TravelPlanner{% endblock %}

{% block content %}
<div class="container">
    <form>
        <label>List of cities</label>
        <select>
            {% for place in places %}
            <option>{{ place.place_name }}</option>
            {% endfor %}
        </select>
    </form>

    List of selected destinations:
    <ul>
        <li>destination 1</li>
        <li>destination 2</li>
    </ul>

    <button class="ghost-btn">Book Now!</button>
</div>
{% endblock %}